/*Parametros basicos de la raiz del dashboard*/
.dashboard-root{
    -fx-text-fill: #ffffff;
    -fx-pref-height: 720px;
    -fx-pref-width: 1280px;
    -fx-min-height: 720px;
    -fx-min-width: 1280px;
    -fx-max-height: 720px;
    -fx-max-width: 1280px;
    -fx-padding: 15px;
    -fx-start-margin: 0;
    -fx-end-margin: 0;
    -fx-border-radius: 30px;
    -fx-background-color: linear-gradient(to right, #2c3e50, #fd746c);
    -fx-font-family: "Noto Sans", sans-serif;
    -fx-font-size: 16px;
    -fx-font-weight: 600;

}

/* Contenedores */
.side-bar{
    -fx-start-margin: 5;
    -fx-end-margin: 5;
    -fx-padding: 5px;
    -fx-text-fill: #ffffff;
    -fx-pref-height: 690px;
    -fx-pref-width: 250px;
    -fx-min-height: 690px;
    -fx-min-width: 250px;
    -fx-max-height: 690px;
    -fx-max-width: 250px;
    -fx-background-color: rgba(255, 255, 255, 0.15);
    -fx-background-radius: 15px;
    -fx-border-radius: 15px;
}

.header{
    -fx-text-fill: #ffffff;
    -fx-padding: 5px;
    -fx-pref-height: 70px;
    -fx-pref-width: 990px;
    -fx-min-height: 70px;
    -fx-min-width: 990px;
    -fx-max-height: 70px;
    -fx-max-width: 990px;
    -fx-background-color: rgba(255, 255, 255, 0.15);
    -fx-background-radius: 15px;
    -fx-border-radius: 15px;
}

.main-content{
    -fx-text-fill: #ffffff;
    -fx-pref-height: 610px;
    -fx-pref-width: 990px;
    -fx-min-height: 610px;
    -fx-min-width: 990px;
    -fx-max-height: 610px;
    -fx-max-width: 990px;
    -fx-background-color: rgba(255, 255, 255, 0.15);
    -fx-background-radius: 15px;
    -fx-border-radius: 15px;
}

.form{
    -fx-pref-height: 170px;
    -fx-pref-width: 450px;
    -fx-min-height: 170px;
    -fx-min-width: 450px;
    -fx-max-height: 170px;
    -fx-max-width: 450px;
}

/* Botones */

.nav-btn{
    -fx-text-fill: #ffffff;
    -fx-left-padding: 15px;
    -fx-text-alignment: left;
    -fx-pref-height: 40px;
    -fx-pref-width: 240px;
    -fx-min-height: 40px;
    -fx-min-width: 240px;
    -fx-max-height: 40px;
    -fx-max-width: 240px;
    -fx-background-color: rgba(255, 255, 255, 0.15);
    -fx-background-radius: 15px;
    -fx-border-radius: 15px;
}
.nav-btn:hover{
    -fx-text-fill: #ffffff;
    -fx-left-padding: 15px;
    -fx-text-alignment: left;
    -fx-pref-height: 40px;
    -fx-pref-width: 240px;
    -fx-min-height: 40px;
    -fx-min-width: 240px;
    -fx-max-height: 40px;
    -fx-max-width: 240px;
    -fx-background-color: rgba(255, 255, 255, 0.30);
    -fx-background-radius: 15px;
    -fx-border-radius: 15px;
}
.nav-btn:focused{
    -fx-text-fill: #ffffff;
    -fx-left-padding: 15px;
    -fx-text-alignment: left;
    -fx-pref-height: 38px;
    -fx-pref-width: 240px;
    -fx-min-height: 38x;
    -fx-min-width: 240px;
    -fx-max-height: 38px;
    -fx-max-width: 240px;
    -fx-background-color: rgba(255, 255, 255, 0.50);
    -fx-background-radius: 15px;
    -fx-border-radius: 15px;
    -fx-border-color: linear-gradient(to right, #2c3e50, #fd746c);
    -fx-border-width: 0 0 2px 0;
}
.nav-btn-mini{
    -fx-text-fill: #ffffff;
    -fx-left-padding: 15px;
    -fx-text-alignment: left;
    -fx-pref-height: 30px;
    -fx-pref-width: 105px;
    -fx-min-height: 30px;
    -fx-min-width: 105px;
    -fx-max-height: 30px;
    -fx-max-width: 105px;
    -fx-background-color: rgba(255, 255, 255, 0.75);
    -fx-background-radius: 15px;
    -fx-border-radius: 15px;
}
.nav-btn-mini:hover{
    -fx-text-fill: #ffffff;
    -fx-left-padding: 15px;
    -fx-text-alignment: left;
    -fx-pref-height: 30px;
    -fx-pref-width: 105px;
    -fx-min-height: 30px;
    -fx-min-width: 105px;
    -fx-max-height: 40px;
    -fx-max-width: 105px;
    -fx-background-color: rgba(255, 255, 255, 0.80);
    -fx-background-radius: 15px;
    -fx-border-radius: 15px;
}
.nav-btn-mini:focused{
    -fx-text-fill: #ffffff;
    -fx-left-padding: 15px;
    -fx-text-alignment: left;
    -fx-pref-height: 28px;
    -fx-pref-width: 105px;
    -fx-min-height: 28x;
    -fx-min-width: 105px;
    -fx-max-height: 28px;
    -fx-max-width: 105px;
    -fx-background-color: rgba(255, 255, 255, 0.50);
    -fx-background-radius: 15px;
    -fx-border-radius: 15px;
    -fx-border-color: linear-gradient(to right, #2c3e50, #fd746c);
    -fx-border-width: 0 0 2px 0;
}
.danger-btn{
    -fx-text-fill: #ffffff;
    -fx-left-padding: 15px;
    -fx-text-alignment: left;
    -fx-pref-height: 40px;
    -fx-pref-width: 240px;
    -fx-min-height: 40px;
    -fx-min-width: 240px;
    -fx-max-height: 40px;
    -fx-max-width: 240px;
    -fx-background-color: rgb(234, 85, 85);
    -fx-background-radius: 15px;
    -fx-border-radius: 15px;
}
.danger-btn-mini{
    -fx-text-fill: #ffffff;
    -fx-left-padding: 15px;
    -fx-text-alignment: left;
    -fx-pref-height: 40px;
    -fx-pref-width: 146px;
    -fx-min-height: 40px;
    -fx-min-width: 146px;
    -fx-max-height: 40px;
    -fx-max-width: 146px;
    -fx-background-color: rgb(234, 85, 85);
    -fx-background-radius: 15px;
    -fx-border-radius: 15px;
}
.save-btn{
    -fx-text-fill: #ffffff;
    -fx-left-padding: 15px;
    -fx-text-alignment: left;
    -fx-pref-height: 40px;
    -fx-pref-width: 240px;
    -fx-min-height: 40px;
    -fx-min-width: 240px;
    -fx-max-height: 40px;
    -fx-max-width: 240px;
    -fx-background-color: linear-gradient(to right, rgba(44, 62, 80, 1), rgba(253, 116, 108, 1));
    -fx-background-radius: 15px;
    -fx-border-radius: 15px;
}
.save-btn-mini{
    -fx-text-fill: #ffffff;
    -fx-left-padding: 15px;
    -fx-text-alignment: left;
    -fx-pref-height: 40px;
    -fx-pref-width: 146px;
    -fx-min-height: 40px;
    -fx-min-width: 146px;
    -fx-max-height: 40px;
    -fx-max-width: 146px;
    -fx-background-color: linear-gradient(to right, rgba(44, 62, 80, 1), rgba(253, 116, 108, 1));
    -fx-background-radius: 15px;
    -fx-border-radius: 15px;
}
.modify-btn{
    -fx-text-fill: #9f9f9f;
    -fx-left-padding: 15px;
    -fx-text-alignment: left;
    -fx-pref-height: 40px;
    -fx-pref-width: 240px;
    -fx-min-height: 40px;
    -fx-min-width: 240px;
    -fx-max-height: 40px;
    -fx-max-width: 240px;
    -fx-background-color: rgba(255, 255, 255, 1);
    -fx-background-radius: 15px;
    -fx-border-radius: 15px;
}
.modify-btn-mini{
    -fx-text-fill: #9f9f9f;
    -fx-left-padding: 15px;
    -fx-text-alignment: left;
    -fx-pref-height: 40px;
    -fx-pref-width: 146px;
    -fx-min-height: 40px;
    -fx-min-width: 146px;
    -fx-max-height: 40px;
    -fx-max-width: 146px;
    -fx-background-color: rgba(255, 255, 255, 1);
    -fx-background-radius: 15px;
    -fx-border-radius: 15px;
}
/*Elementos del formulario*/

.text-area{
    -fx-font-size: 12px;
    -fx-pref-height: 30px;
    -fx-pref-width: 440px;
    -fx-min-height: 30px;
    -fx-min-width: 440px;
    -fx-max-height: 30px;
    -fx-max-width: 440px;
    -fx-padding: 2px 5px;
    -fx-background-radius: 18px;
    -fx-background-color: #ffffff;
    -fx-background-insets: 0;
    -fx-border-radius: 18px;
    -fx-border-insets: 0;
    -fx-border-color: transparent;
    -fx-border-width: 0;
}
.text-area:focused{
    -fx-font-size: 12px;
    -fx-pref-height: 30px;
    -fx-pref-width: 440px;
    -fx-min-height: 30px;
    -fx-min-width: 440px;
    -fx-max-height: 30px;
    -fx-max-width: 440px;
    -fx-padding: 2px 5px;
    -fx-background-radius: 18px;
    -fx-background-color: #ffffff;
    -fx-border-radius: 18px;
    -fx-border-color: linear-gradient(to right, #2c3e50, #fd746c);
    -fx-border-width: 2px;
    -fx-border-insets: 0;
}
.text-area-mini{
    -fx-font-size: 12px;
    -fx-pref-height: 30px;
    -fx-pref-width: 220px;
    -fx-min-height: 30px;
    -fx-min-width: 220px;
    -fx-max-height: 30px;
    -fx-max-width: 220px;
    -fx-padding: 2px 5px;
    -fx-background-radius: 18px;
    -fx-background-color: #ffffff;
    -fx-background-insets: 0;
    -fx-border-radius: 18px;
    -fx-border-insets: 0;
    -fx-border-color: transparent;
    -fx-border-width: 0;
}
.text-area-mini:focused{
    -fx-font-size: 12px;
    -fx-pref-height: 30px;
    -fx-pref-width: 220px;
    -fx-min-height: 30px;
    -fx-min-width: 220px;
    -fx-max-height: 30px;
    -fx-max-width: 220px;
    -fx-padding: 2px 5px;
    -fx-background-radius: 18px;
    -fx-background-color: #ffffff;
    -fx-border-radius: 18px;
    -fx-border-color: linear-gradient(to right, #2c3e50, #fd746c);
    -fx-border-width: 2px;
    -fx-border-insets: 0;
}
.form-label{
    -fx-pref-height: 30px;
    -fx-pref-width: 440px;
    -fx-min-height: 30px;
    -fx-min-width: 440px;
    -fx-max-height: 30px;
    -fx-max-width: 440px;
    -fx-text-fill: #ffffff;
    -fx-font-size: 12px;
    -fx-effect: dropshadow(gaussian, rgba(0, 0, 0, 0.7), 15, 0.5, 0.0, 0.0);
}
.form-label-mini{
    -fx-pref-height: 30px;
    -fx-pref-width: 220px;
    -fx-min-height: 30px;
    -fx-min-width: 220px;
    -fx-max-height: 30px;
    -fx-max-width: 220px;
    -fx-text-fill: #ffffff;
    -fx-font-size: 12px;
}
.table-view {
    -fx-pref-height: 170px;
    -fx-pref-width: 950px;
    -fx-min-height: 170px;
    -fx-min-width: 950px;
    -fx-max-height: 170px;
    -fx-max-width: 950px;
    -fx-background-color: transparent;
    -fx-background-radius: 18px;
    -fx-table-cell-border-color: transparent;
    -fx-padding: 0;
    -fx-border-radius: 18px;
}
.table-view-mini {
    -fx-pref-height: 100px;
    -fx-pref-width: 950px;
    -fx-min-height: 100px;
    -fx-min-width: 950px;
    -fx-max-height: 100px;
    -fx-max-width: 950px;
    -fx-background-color: transparent;
    -fx-background-radius: 18px;
    -fx-table-cell-border-color: transparent;
    -fx-padding: 0;
    -fx-border-radius: 18px;
}
.table-view .column-header-background {
    -fx-background-color: #2c3e50;
    -fx-background-radius: 20px;
    -fx-border-radius: 20px;
}
.table-view-mini .column-header-background {
    -fx-background-color: #2c3e50;
    -fx-background-radius: 20px;
    -fx-border-radius: 20px;
}
.table-view .column-header, .table-view .column-header .label {
    -fx-background-color: #2c3e50;
    -fx-background-radius: 20px;
    -fx-border-radius: 20px;
    -fx-text-fill: white;
    -fx-font-weight: bold;
    -fx-font-size: 13px;
}
.table-view-mini .column-header, .table-view .column-header .label {
    -fx-background-color: #2c3e50;
    -fx-background-radius: 20px;
    -fx-border-radius: 20px;
    -fx-text-fill: white;
    -fx-font-weight: bold;
    -fx-font-size: 13px;
}
.table-row-cell {
    -fx-background-color: #ffffff;
    -fx-text-fill: #1d1d1d;
    -fx-font-size: 13px;
}
.table-row-cell:hover {
    -fx-background-color: #dff7ec;
}
.table-row-cell:selected {
    -fx-background-color: #fa7d76;
    -fx-text-fill: white;
}
.table-row-cell:selected .text {
    -fx-fill: white;
}
.scroll-bar:vertical .thumb, .scroll-bar:horizontal .thumb {
    -fx-background-color: #fa7d76;
    -fx-background-radius: 20px;
    -fx-border-radius: 20px;
}
.scroll-bar:vertical, .scroll-bar:horizontal {
    -fx-background-color: transparent;
    -fx-background-radius: 20px;
    -fx-border-radius: 20px;
}
.combo-box .arrow-button {
    -fx-background-color: #ffffff;
    -fx-background-radius: 18px;
}
.combo-box .arrow-button:hover {
    -fx-background-color: #dff7ec;
}
.combo-box .arrow {
    -fx-background-color: #2c3e50;
}
.combo-box .arrow:hover {
    -fx-background-color: #2c3e50;
    -fx-text-fill: #000000;
}
.list-view {
    -fx-background-color: #ffffff;
    -fx-background-radius: 18px;
    -fx-border-color: linear-gradient(to right, #2c3e50, #fd746c);
    -fx-border-radius: 18px;
}
.list-cell{
    -fx-background-radius: 18px;
    -fx-border-radius: 18px;
    -fx-text-fill: #000000;
}
.list-cell:hover {
    -fx-background-color: #fdc4c1;
    -fx-background-radius: 18px;
    -fx-border-radius: 18px;
    -fx-text-fill: #000000;
}
.list-cell:selected {
    -fx-background-radius: 18px;
    -fx-border-radius: 18px;
    -fx-text-fill: #000000;
}
.textMenu{
    -fx-text-fill: #ffffff;

}
/*Titulos*/
.sidebar-title{
    -fx-text-fill: #ffffff;
    -fx-pref-height: 60px;
    -fx-pref-width: 240px;
    -fx-min-height: 600x;
    -fx-min-width: 240px;
    -fx-max-height: 60px;
    -fx-max-width: 240px;
    -fx-content-display: center;
    -fx-font-family: "Noto Sans", sans-serif;
    -fx-font-size: 24px;
    -fx-font-weight: 600;
    -fx-border-color: #ffffff;
    -fx-border-width: 0 0 2px 0;
}
.header-title{
    -fx-text-fill: #ffffff;
    -fx-pref-height: 60px;
    -fx-pref-width: 980px;
    -fx-min-height: 60x;
    -fx-min-width: 980px;
    -fx-max-height: 60px;
    -fx-max-width: 980px;
    -fx-content-display: center;
    -fx-font-family: "Noto Sans", sans-serif;
    -fx-font-size: 32px;
    -fx-font-weight: 600;
    -fx-border-color: #ffffff;
    -fx-border-width: 0 0 2px 0;
}




